.Head{background-color: #9e9ef5;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-align: center;}
.name{font-size: 50px; text-align: center;}
